.review__main {
  width: 80%;
  height: 80vh;
  margin: 20px auto;
  overflow: auto;
  font-size: 20px;
  text-align: start;
  color: #313e51;
  border: 2px solid #313e5151;
  /* box-shadow: 2px 2px 10px 2px #1d2a4a3d; */
  border-radius: 30px;
  padding: 20px;
}


.review__main::-webkit-scrollbar{
    display: none;
}
.review__title{
    text-align: center;
}
.review__item{
    width: 60%;
    margin: 20px auto;
}
.review__btn {
  display: inline-block;
  padding: 10px 30px;
  background: #1d2a4a;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.review__btn__centre{
    width: 250px;
    margin: 0px auto;
}
@media screen and (max-width: 1250px) {
  .review__main {
    width: 95%;
  }
  
}
@media screen and (max-width: 750px){
    .review__main {
  font-size: 17px;
}
.review__item{
    width: 100%;
    margin: 20px auto;
}
}
