.result__head {
  width: 80%;
  height: auto;
  margin: 20px auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.result__right {
  width: 50%;
  height: auto;
  font-size: 20px;
  color: #313e51;
}

.result__left {
  width: 50%;
  height: auto;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result__left__content {
  padding: 20px;
  width: 50%;
  height: auto;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: #313e51;
  font-size: 24px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
}
.res__left__correct {
  width: 150px;
  height: 150px;
  background-color: #1d2a4a;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-size: 35px;
  font-weight: bold;
}
.result__buttons {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px auto;
}
.result__btn_try {
  padding: 15px 40px;
  background: #1d2a4a;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.result__btn_review {
  padding: 15px 40px;
  background: #1d2a4a;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

@media screen and (max-width: 1250px) {
  .result__head {
    width: 95%;
  }
  .result__left__content {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .result__right {
    font-size: 17px;
  }
  .result__left {
    font-size: 16px;
  }
  .result__left__content {
    font-size: 20px;
  }
  .res__left__correct {
    font-size: 28px;
  }
}
@media screen and (max-width: 750px) {
  .result__head {
    flex-wrap: wrap;
  }
  .result__right {
    width: 100%;
    text-align: center;
  }

  .result__left {
    width: 100%;
    margin-top: 20px;
  }
   .result__left__content {
    width: 70%;
  }
}
