@import url(https://fonts.googleapis.com/css2?family=Faustina:wght@100;200;300;400;500;&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Faustina', serif;
}
body{
  background: #f4f6fa;
}






